:root {
    --size1: 20rem;
}

body {
    box-sizing: border-box;
    margin: 0rem;
    font-family: "Mueso Sans", sans-serif;
}

main {
    display: flex;
}

.tetrisButton {
    margin: auto;
    border-color: blue;
    width: "196";
    height: "60";
    background: #fff;
}

.terminor {

    position: relative;
    height: 20px;
    background-image: url(img/tetriminos-banner.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    margin-bottom: 32px;
}

.container {

    background: #ff2f1f;
    padding: 1.5rem;
    min-width: 5px, 0px;
    max-width: 80rem;
    margin: auto;
}

.menuButton {
    display: flex;
    display: none;
    background-color: blueviolet;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    height: 2rem;
}

.menuContainer {
    display: flex;
    background-color: blueviolet;
    flex-direction: column;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.mainSection {
    height: 25rem;
    background: #ff8050;
    background-image: url(img/e60-playnow-feature.jpg);
    background-size: cover;
    background-position: center;
}

.smallSection {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: 2rem;
    width: 100%;
    background: #90ff00;
}

.heroItem {
    background-color: goldenrod;
    background-image: url(img/e60-playnow-feature.jpg);
    background-size: cover;
    width: var(--size1);
    flex: 1;
}

.articleDiv {
    background: #3e5b17;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.article {
    background: #952e71;
    width: 15rem;
}

.side {
    display: none;
    background: #5eb584;
    width: 15rem;
}

.post {
    display: flex;
}

@media (min-width: 768px) {

    .menuButton {
        display: flex;
    }

    .tetrisButton {
        margin: 0;
    }

    .hero {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
    }

    .container {
        padding: 3rem;
    }

    .mainSection {

        background-size: cover;
        background-position: center;
        width: calc(100% - var(--size1));

    }

    .smallSection {
        flex-direction: column;
        width: var(--size1);
        height: auto;
        padding: 0.0rem 0.3rem 0.0rem;
    }

    .heroItem {
        width: 100%;
    }

    .side {
        display: flex;
    }
}