body {
    box-sizing: border-box;
    margin: 0rem;
    font-family: "Mueso Sans", sans-serif;
}

.tetrisButton {
    border-color: blue;
    width: "196";
    height: "60";
    background: #fff;
}

.terminor {

    position: relative;
    height: 20px;
    background-image: url(img/tetriminos-banner.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    margin-bottom: 32px;
}

.container {
    background: #ff2f1f;
    padding: 2rem, 0rem, ;
    width: 95%;
    max-width: 50rem;
    margin: auto;
}

.menuButton {
    display: flex;
    display: none;
    background-color: blueviolet;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

.menuContainer {
    display: flex;
    background-color: blueviolet;
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.mainSection {
    background: #ff8050;

}

.smallSection {
    background: #90ff00;
}

@media (min-width: 768px) {

    .menuButton {
        display: flex;
    }

    .tetrisButton {}
}